*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
  
}

body, h1, p, ul, li {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar{
  width: 0px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
