
.sidebar{
    width: 260px;
    height: 100%;
    padding: 10px 10px;
    border-right: 1px solid  black;
    background-color: white;
    /* background-color: crimson */ 
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar .header-nav .logo img{
    width: 150px;
    margin: 20px 20px;
}

.sidebar .main-nav .search-box{
    width: 94%;
    background-color: rgba(200, 200, 200, 1);
    border-radius: 8px;
    display: flex;   
    padding: 2px 5px;
    margin-left: 8px;
}

.sidebar .main-nav .search-box i{
    padding: 10px 10px;
    font-size: 25px;
}

.sidebar .main-nav .search-box input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: transparent;
    padding-left: 5px;
    font-size: 20px;
    color: black;
}


.sidebar .home-explr-crte-reel-music ul{
    list-style: none;
    padding: 10px 10px;
}


.sidebar .home-explr-crte-reel-music ul li{
    font-size: 25px;
    margin: 10px 0;
    padding: 10px;
}

.sidebar .home-explr-crte-reel-music ul li:hover{
    background-color: rgba(200, 200, 200, 1);
    border-radius: 8px;
}


.sidebar .home-explr-crte-reel-music ul li span{
    font-size: 20px;
    margin-left: 20px;
   
}



.sidebar .notification-message-microblog ul{
    list-style: none;
    padding:10px;
    margin-top: 0;
    position: relative;
    top: -18px;

}



.sidebar .notification-message-microblog ul li{
    font-size: 25px;
    margin-bottom: 10px;
    padding: 10px;
}

.sidebar .notification-message-microblog ul li:hover{
    background-color: rgba(200, 200, 200, 1);
    color: white;
    border-radius: 8px;
}

.sidebar .notification-message-microblog ul li span{
    font-size: 20px;
    margin-left: 21px;
   
}

.sidebar .profile a{
    width: 91%;
    display: flex;
    align-items: center;
    /* background-color: crimson; */
    padding: 10px;
    position: relative;
    top: -20px;
    left: 10px;
    
}

.sidebar .profile a:hover{
    background-color: rgba(200, 200, 200, 1);
    color: white;
    border-radius: 8px;
    
   
}

.sidebar .profile img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: -2px;
    
}

.sidebar .profile span{
    margin-left: 16px;
    font-size: 20px;
    
}




/* All display-none elements start here  */
@media(min-width: 769px){
    .sidebar .main-nav .home-explr-crte-reel-music ul li a .search-icon{
    display: none;
    }
}
/* All display-none elements end here  */



/* ########## (screen-2) Media query for screens with a width between 577 to 768px   start here ############## */
/* Small Devices (Tablets and Small Laptops) */
@media (min-width: 577px) and (max-width: 768px){
    .sidebar{
        width: 100%;
        height: 60px;
        background-color: white;
        border-bottom: 1px solid #000;
        display: flex;
        align-items: center;
        justify-content: space-between;
    } 


    /* all display none elements start here */
    .sidebar .main-nav span{
        display: none;
    }
    
    .sidebar .main-nav .home-explr-crte-reel-music ul li a .search-icon{
    display: none;
    }

    /* all display none elements end here */

    .sidebar .header-nav .logo a img{
        width: 20vw;
        margin-left: -10px;
        

    }

   
    .sidebar .main-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sidebar .main-nav .search-box{
        width: 70vw;
        margin-right: 10%;
    }

    .sidebar .profile{
        width: 60px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 5px;
        right: 8px;
        overflow: inherit;
    }
    
    
    .sidebar .profile img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-top: 38px;
        
        
    }

    .sidebar .profile a:hover{
        background-color: white;
       
    }

    .sidebar .main-nav .home-explr-crte-reel-music{
        width: 60%;
        height: 60px;
        background-color: white;
        border-top: 1px solid black;
        position: fixed;
        left: 0;
        bottom: 0; 

    }

    .sidebar .main-nav .home-explr-crte-reel-music ul{
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        
    }

    .sidebar .main-nav .home-explr-crte-reel-music ul li{
        margin-top: -2px;
    }
    
    .sidebar .main-nav .notification-message-microblog{
        width: 40%;
        height: 78px;
        padding-top: 28px;
        background-color: white;
        border-top: 1px solid black;
        position: fixed;
        right: 0;
        bottom: -18px; 

    }

    .sidebar .main-nav .notification-message-microblog ul{
        display: flex;
        align-items: center;
        justify-content: space-between; 
      
        
    }
    .sidebar .main-nav .notification-message-microblog ul li{
        margin-left: 30px;
        margin-top: -12px;
      
        
    }

  
}


/* ########## (screen-3) Media query for screens with a width between 577 to 768px   start here ############## */
/* Small Devices (Tablets and Small Laptops) */
@media (min-width: 431px) and (max-width: 576px){  

    .sidebar{
        width: 100%;
        height: 60px;
        background-color: white;
        border-bottom: 1px solid #000;
        display: flex;
        align-items: center;
        justify-content: space-between;
    } 

    /* display-none elements start here */
    .sidebar .main-nav span{
        display: none;
    }
    
    .sidebar .main-nav .search-box{
        display: none;
    }

    

    .sidebar .main-nav .home-explr-crte-reel-music ul .explore-icon{
        display: none;
        }
   

    /* display-none elements end here */

    .sidebar .header-nav .logo a img{
        width: 30vw;
        margin-left: -10px;
        

    }

   
    .sidebar .main-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sidebar .main-nav .notification-message-microblog{
        width: 30%;
        height: 60px;
        padding-top: 28px;
        background-color: white;
        border-bottom: 1px solid black;
        position: fixed;
        right: 10px;
        top: 0; 

    }

    .sidebar .main-nav .notification-message-microblog ul{
        display: flex;
        align-items: center;
        justify-content: space-between; 
      
        
    }
    .sidebar .main-nav .notification-message-microblog ul li{
        margin-top: -12px;
      
        
    }
    
   

   

    .sidebar .main-nav .home-explr-crte-reel-music{
        width: 86%;
        height: 60px;
        background-color: white;
        border-top: 1px solid black;
        position: fixed;
        left: 0;
        bottom: -10px; 

    }

    .sidebar .main-nav .home-explr-crte-reel-music ul{
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        
    }

    .sidebar .main-nav .home-explr-crte-reel-music ul li{
        margin-top: -2px;
    }
    
    

    .sidebar .profile{
        width: 80px;
        height: 70px;
        border-top: 1px solid black;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: -20px;
        right: 0;
        
    }

    .sidebar .profile img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-top: 38px;
        
        
    }

    .sidebar .profile a:hover{
        /* background-color: inherit; */
        background-color: transparent;
        color: inherit;
       
    }


}



/* ########## (screen-4) Media query for screens with a width between 301px to 430px   start here ############## */
/* Small Devices (Tablets and Small Laptops) */
@media(min-width:301px) and (max-width: 430px){  

    .sidebar{
        width: 100%;
        height: 60px;
        background-color: white;
        border-bottom: 1px solid #000;
        display: flex;
        align-items: center;
        justify-content: space-between;
    } 

    /* display-none elements start here */
    .sidebar .main-nav span{
        display: none;
    }
    
    .sidebar .main-nav .search-box{
        display: none;
    }

    

    .sidebar .main-nav .home-explr-crte-reel-music ul .explore-icon{
        display: none;
        }
   

    /* display-none elements end here */

    .sidebar .header-nav .logo a img{
        width: 40vw;
        margin-left: -10px;
        

    }

   
    .sidebar .main-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sidebar .main-nav .notification-message-microblog{
        width: 40%;
        height: 60px;
        padding-top: 28px;
        background-color: white;
        border-bottom: 1px solid black;
        position: fixed;
        right: 10px;
        top: 0; 

    }

    .sidebar .main-nav .notification-message-microblog ul{
        display: flex;
        align-items: center;
        justify-content: space-between; 
      
        
    }
    .sidebar .main-nav .notification-message-microblog ul li{
        font-size: 22px;
        margin-top: -12px;
      
        
    }
    
   

   

    .sidebar .main-nav .home-explr-crte-reel-music{
        width: 86%;
        height: 60px;
        background-color: white;
        border-top: 1px solid black;
        position: fixed;
        left: 0;
        bottom: -10px; 

    }

    .sidebar .main-nav .home-explr-crte-reel-music ul{
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        
    }

    .sidebar .main-nav .home-explr-crte-reel-music ul li{
        font-size: 22px;
        margin-top: -2px;
    }
    
    

    .sidebar .profile{
        width: 65px;
        height: 70px;
        border-top: 1px solid black;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: -20px;
        right: -5px;
        
    }

    .sidebar .profile img{
        width: 26px;
        height: 26px;
        border-radius: 50%;
        margin-top: 35px;
        
        
        
    }

    .sidebar .profile a:hover{
        /* background-color: inherit; */
        background-color: transparent;
        color: inherit;
       
    }


}



/* ########## (screen-5) Media query for screens with min-width to 300px   start here ############## */
/* Small Devices (Tablets and Small Laptops) */
@media(max-width: 300px){  

    .sidebar{
        width: 100%;
        height: 60px;
        background-color: white;
        border-bottom: 1px solid #000;
        display: flex;
        align-items: center;
        justify-content: space-between;
    } 

    /* display-none elements start here */
    .sidebar .main-nav span{
        display: none;
    }
    
    .sidebar .main-nav .search-box{
        display: none;
    }

    

    .sidebar .main-nav .home-explr-crte-reel-music ul .explore-icon{
        display: none;
        }
   

    /* display-none elements end here */

    .sidebar .header-nav .logo a img{
        width: 35vw;
        margin-left: -10px;
        

    }

   
    .sidebar .main-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sidebar .main-nav .notification-message-microblog{
        width: 45%;
        height: 60px;
        padding-top: 28px;
        background-color: white;
        border-bottom: 1px solid black;
        position: fixed;
        right: 10px;
        top: 0; 

    }

    .sidebar .main-nav .notification-message-microblog ul{
        display: flex;
        align-items: center;
        justify-content: space-between; 
      
        
    }
    .sidebar .main-nav .notification-message-microblog ul li{
        font-size: 22px;
        margin-top: -12px;
      
        
    }
    
   

   

    .sidebar .main-nav .home-explr-crte-reel-music{
        width: 86%;
        height: 60px;
        background-color: white;
        /* background-color: crimson; */
        border-top: 1px solid black;
        position: fixed;
        left: -5vw;
        bottom: -5px; 

    }

    .sidebar .main-nav .home-explr-crte-reel-music ul{
        /* margin-left: -5px; */
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        
    }

    .sidebar .main-nav .home-explr-crte-reel-music ul li{
        font-size: 22px;
        margin-top: -2px;
        
    }
    
    

    .sidebar .profile{
        width: 60px;
        height: 75px;
        border-top: 1px solid black;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: -20px;
        right: -1vw;
        
    }

    .sidebar .profile img{
        width: 26px;
        height: 26px;
        border-radius: 50%;
        margin-top: 42px;
        
        
        
    }

    .sidebar .profile a:hover{
        /* background-color: inherit; */
        background-color: transparent;
        color: inherit;
       
    }


}

